<html>

<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


</head>

<body>



    <div id="test">

        <p v-if="mark>80"> {{ grade }} </p>


        <img v-bind:src="imageloc" />


        <!-- simple for loop -->
        <ul>
            <li :key="numbers.no" v-for="no in numbers">
                {{ no }}
            </li>
        </ul>

        <!-- naming index for loop -->
        <ul :key="foods.food" v-for="food in foods">


            <li>{{food.name}}</li>

        </ul>

        <button type="button" v-on:click="makealert">click</button>

<!-- variable use in css -->
        <p :style="{backgroundColor: bc, color: tc}">  This is a text         
            </p>


            <span>{{ sum }}</span>


            <sample-component></sample-component>



           







    </div>

    <script>
        const app = Vue.createApp({
            data: function () {
                return {
                    grade: 'A',
                    imageloc: 'hello.jpg',
                    mark: 0,
                    foods:
                        [
                            { name: "apple" }


                        ],
                    numbers:
                        [
                            1, 5, 11

                        ],
                        bc:'gray',
                        tc:'blue'
                      
                }
            },
            methods: {

                makealert() {

                    alert('you clicked');
                }
            },
            computed:{

                sum(){


                    return 2+2;
                }


            }



        });

     

    </script>

<script src="components/c.js"></script>

<script>
       const mountapp = app.mount("#test");
</script>

</body>

</html>